@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Rubik", "Raleway";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik", "Raleway";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 66.0625rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.title-primary {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 2.75rem;
  line-height: 3.4375rem;
}

.text {
  font-family: "Rubik";
  line-height: 138.5%;
  color: #616161;
}

.brick {
  position: absolute;
  background: #EC5863;
  border-radius: 1.875rem;
}

.header {
  z-index: -2;
  padding-top: 2.3125rem;
  padding-bottom: 3rem;
  background-color: #FAFBFD;
}
.header__brick {
  position: absolute;
  height: 110%;
  top: -1.875rem;
  right: -8.125rem;
  width: 23.875rem;
  z-index: -1;
}
.header__container {
  position: relative;
}
.header__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.75rem;
}
.header__picture-inner {
  width: 34.375rem;
  height: 25rem;
}
.header__title-add-color {
  color: #4285F4;
}

.top-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.top-header__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
}
.top-header__list-a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1rem;
  color: #000000;
}
.top-header__button {
  background-color: #4285F4 !important;
}

.content-header__text {
  margin-top: 0.75rem;
}
.content-header__button {
  margin-top: 1.5rem;
}

.video-header {
  display: flex;
  flex-direction: row;
}
.video-header__play {
  width: 2.75rem;
  height: 2.75rem;
}
.video-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.75rem;
}
.video-header__title {
  padding: auto;
  color: #B0B0B0;
  line-height: 126%;
  letter-spacing: 0.005rem;
}
.video-header__text {
  font-size: 0.5625rem;
  padding: auto;
  line-height: 126%;
  letter-spacing: 0.0103125rem;
  text-transform: uppercase;
  color: #000000;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.footer__top {
  text-align: center;
  margin: 0 auto;
}
.footer__title {
  margin-top: 4.9375rem;
  margin-bottom: 0.875rem;
  font-weight: bold;
  line-height: 126%;
}
.footer__title-add-color {
  color: #EC5863;
}
.footer__text {
  letter-spacing: 0.005rem;
  line-height: 138.5%;
  width: 37.5rem;
  margin: 0 auto;
}
.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4.5rem;
}
.footer__item {
  margin-top: 2.875rem;
  width: 17.375rem;
  height: 17.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  box-shadow: 0rem 0.25rem 1.125rem rgba(88, 126, 236, 0.18);
  border-radius: 0.5rem;
}
.footer__list-title {
  margin-top: 3.625rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 138.5%;
  letter-spacing: 0.005rem;
}
.footer__list-text {
  margin-top: 0.25rem;
  letter-spacing: 0.005rem;
  line-height: 138.5%;
  width: 15.125rem;
  margin: 0 auto;
  text-align: center;
}
.footer__apps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.75rem;
}
.footer__apps-img {
  margin-top: 4.6875rem;
  margin-bottom: 2.8125rem;
  width: 10.3125rem;
}

.stay-save__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stay-save__left-content {
  position: relative;
  width: 21.125rem;
  height: 33.875rem;
  margin: 4.9375rem 0 4.9375rem 6.25rem;
}
.stay-save__brick-1 {
  width: 9.1875rem;
  height: 9.1875rem;
  top: 0;
  left: 0;
}
.stay-save__brick-2 {
  width: 4.8125rem;
  height: 4.8125rem;
  bottom: 0;
  left: 2.0625rem;
}
.stay-save__brick-3 {
  width: 4.8125rem;
  height: 4.8125rem;
  right: 0;
  bottom: 6.6875rem;
}
.stay-save__img {
  position: absolute;
  z-index: 1;
  width: 15.625rem;
  height: 28.6875rem;
  left: 3.75rem;
  top: 3.5rem;
}
.stay-save__right-content {
  width: 23.6875rem;
  margin-right: 11.625rem;
}
.stay-save__title-add-color {
  color: #EC5863;
}
.stay-save__text {
  margin-top: 1em;
}
.stay-save__button {
  margin-top: 2em;
}

.experts {
  background-color: #FAFBFD;
  padding-top: 3.3125rem;
}
.experts__info-wrapper {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 47.5rem;
  height: 12.5rem;
  justify-content: center;
  align-items: center;
}
.experts__brick-1 {
  width: 4.0625rem;
  height: 4.0625rem;
  left: 1rem;
  bottom: 1rem;
  transform: rotate(-30deg);
  border-radius: 1rem !important;
}
.experts__brick-2 {
  width: 6rem;
  height: 6rem;
  top: 1rem;
  left: 15rem;
  transform: rotate(105deg);
}
.experts__brick-3 {
  width: 7.9375rem;
  height: 7.9375rem;
  top: 1rem;
  right: 1rem;
  transform: rotate(-30deg);
}
.experts__info {
  width: 40.875rem;
  height: 7.3125rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.experts__content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.875rem;
  margin-bottom: 7.25rem;
}
.experts__left-content {
  width: 24.5625rem;
}
.experts__text {
  margin: 1em 0 2em 0;
}
.experts__title-add-color {
  color: #587EEC;
}

.experts-info__list {
  display: flex;
  flex-direction: row;
  gap: 6.25rem;
}
.experts-info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experts-info__title {
  font-size: 2.25rem;
  color: #EC5863;
}
.experts-info__text {
  text-transform: uppercase;
  line-height: 13px;
  font-weight: bold;
  font-size: 0.6875rem;
}

.button {
  display: inline-block;
  width: 9rem;
  height: 2.5rem;
  border-radius: 0.3125rem;
  color: #fff;
  background-color: #EC5863;
}
