//====================================================================================================
.main {
   // .main__container

   &__container {
   }

   // .main__stay-save

   &__stay-save {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }
   &__experts {
      background-color: #FAFBFD;
      padding-top: rem(53);
      }
}
.stay-save {
   // .stay-save__left-content

   &__left-content {
      position: relative;
      width: rem(338);
      height: rem(542);
      margin: rem(79) 0 rem(79) rem(100);

   }

   // .stay-save__brick

   &__brick-1 {
      
      width: rem(147);
      height: rem(147);
      top: 0;
      left: 0;
   }

   &__brick-2 {

      width: rem(77);
      height: rem(77);
      bottom: 0;
      left: rem(33);
   }
   &__brick-3 {
      width: rem(77);
      height: rem(77);
      right: 0;
      bottom: rem(107);
   }

   // .stay-save__img

   &__img {
      position: absolute;
      z-index: 1;
      width: rem(250);
      height: rem(459);
      left: rem(60);
      top: rem(56);
   }

   // .stay-save__right-content

   &__right-content {
      width: rem(379);
      margin-right: rem(186);
   }

   // .stay-save__title

   &__title {

   }

   // .stay-save__text

   &__text {

      margin-top: 1em;
   }

   // .stay-save__button

   &__button {
     
      margin-top: 2em;
   }
}

.experts {

   // .experts__info-wrapper

   &__info-wrapper {
      position: relative;
      display: flex;
      margin: 0 auto;
      width: rem(760);
      height: rem(200);
      justify-content: center;
      align-items: center;
   }

   // .experts__brick-1

   &__brick-1 {
      width: rem(65);
      height: rem(65);
      left: rem(16);
      bottom: rem(16);
      transform: rotate(-30deg);
      border-radius: rem(16) !important;
   }

   // .experts__brick-2

   &__brick-2 {
      width: rem(96);
      height: rem(96);
      top: rem(16);
      left: rem(240);
      transform: rotate(105deg);
   }

   // .experts__brick-3

   &__brick-3 {
      width: rem(127);
      height: rem(127);
      top: rem(16);
      right: rem(16);
      transform: rotate(-30deg);
   }

   // .experts__info

   &__info {
      width: rem(654);
      height: rem(117);
      background-color: #fff;
      border-radius: rem(16);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      z-index: 1;
   }

   // .experts__content-wrapper

   &__content-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   // .experts__left-content

   &__left-content {
   }

   // .experts__title

   &__title {

   }

   // .experts__text

   &__text {
      margin: 2em 0 1em 0;
   }

   // .experts__button

   &__button {
   }

   // .experts__right-content

   &__right-content {
   }

   // .experts__img

   &__img {
   }
}
.experts-info {
   &__list {
      display: flex;
      flex-direction: row;
      gap: rem(100);
   }

   // .experts-info__item

   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   // .experts-info__title

   &__title {
      font-size: rem(36);
      color: #EC5863;
   }

   // .experts-info__text

   &__text {
      font-size: rem(11);
   }
}


.brick {
   position: absolute;
   background: #EC5863;
   border-radius: rem(30);
}
.title {
   font-family: "Rubik";
   font-weight: bold;
   font-size: 44px;
   line-height: 126%;
}
.text {
   line-height: 138.5%;
   letter-spacing: rem(0.08);
}
.button {
   background-color: #ec5863;
   width: rem(144);
   height: rem(40);
   border-radius: rem(5);
   color: #fff;
}
.color-actient {
   position: absolute;
   color: #EC5863;
}
//====================================================================================================
