@font-face {
  font-family: "Open Sans";
  src: url(./fonts/Open_Sans/OpenSans-VariableFont_wdth\wght.ttf);
}

body {
  font-size: calc(.5vw + .5vh);
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2em;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.title {
  font-weight: bold;
}

.text {
  line-height: 2;
  font-size: 2flfem;
}

.button {
  display: inline-block;
  background-color: #ff3f40;
  font-size: 1.4vw;
  padding: 0;
  border-radius: 0.3em;
  color: #f6f2f2;
  text-align: center;
  width: 10em;
  padding: 0.5em 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.inner-line {
  background-color: #ff3f40;
  width: 10em;
  height: 3px;
  border-radius: 3px;
}

.header {
  background-color: #f6f2f2;
}

.header__nav-menu {
  background-color: #2d2d2d;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__link {
  display: block;
  padding: 2em 2vw;
  font-weight: 500;
  font-size: 1.4vh;
  color: #f6f2f2;
  background-color: transparent;
}

.header__link:hover {
  background-color: #ff3f40;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5em 0;
}

.header__organisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title {
  margin-top: 1em;
}

.header__text {
  margin: 0.5em 0;
}

.header__button {
  margin-top: 2em;
}

.header__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 40em;
  height: 20em;
  background-color: #f5f0dd;
}

.main__provide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5em 0;
}

.main__provide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__provide-title {
  line-height: 1.2;
}

.main__provide-text {
  margin: 2em 0;
}

.main__provide-button {
  background-color: #fff;
  border: 2px solid #ff3f40;
  color: #ff3f40;
}

.main__provide-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 3em 1em;
  -ms-grid-row-align: center;
      align-self: center;
  max-width: 40em;
  margin: 2em 0;
}

.main__provide-item {
  max-width: 15em;
}

.main__list-title {
  margin: 0.9em 0 0.2em 0;
}

.main__line {
  height: 2px;
  background-color: #f1f1f1;
  margin: 5em 0;
}

.products__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__title {
  text-align: center;
}

.products__text {
  display: block;
  text-align: center;
  margin: 1em 0;
  max-width: 70%;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.products__list-link {
  display: block;
  color: #2d2d2d;
  padding: 0.5em 1vw;
}

.products__list-link:hover {
  color: #ff3f40;
}

.products__pict {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 2vw;
  margin: 0 auto;
}

.products__pict-item {
  background-color: #f5f0dd;
  width: 40vw;
  height: 40vw;
}

.main__team {
  margin: 5em 0;
}

.team__top-text {
  margin: 0 0 2vh 0;
}

.team__main-wrapper {
  margin: 5vh 0;
}

@media (min-width: 1024px) {
  .products__pict {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .products__pict-item {
    width: 20vw;
    height: 20vw;
  }
  .container {
    width: 85%;
  }
  h1 {
    font-size: 4.5vw;
  }
  h2 {
    font-size: 3.7vw;
  }
  h3 {
    font-size: 2.5vw;
  }
  h4 {
    font-size: 1.6vw;
  }
  .text {
    font-size: 1vw;
  }
  .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content-item {
    width: 40%;
  }
  .button {
    display: inline-block;
    -ms-flex-item-align: initial;
        -ms-grid-row-align: initial;
        align-self: initial;
  }
  .header__title {
    margin-top: 0;
  }
  .main__line {
    height: 2px;
    background-color: #f1f1f1;
    margin: 10em 0;
  }
  .products__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2em 0;
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=style.css.map */